@import "tailwindcss";


@theme {
    --color-primary: #000;
    --color-secondary: #C9A84C;
    --color-low: #625E5A;
    --color-lowbg: #0C0C0C;

    --font-bodoni: "Bodoni Moda", Georgia, serif
}

section {
    min-height: 100vh;
}