@import "tailwindcss";

@theme {
    --color-primary: #000;
    --color-secondary: #C9A84C;
    --color-low: #393733;
    --color-lowbg: #0C0C0C;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    min-height: 100vh;
}